<!DOCTYPE html>
<html ng-app='house'>
<head>
  <title>House</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body ng-controller="HouseController" ng-init="initFirst()">

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#" data-toggle="modal" data-target="#myPost">Post</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" >Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" name="search" ng-value="0" ng-model="example.text" class="form-control" placeholder="Search">
        </div>
        <button ng-click="PriceQ(example.text)" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="row">
  <div ng-repeat="t in test" class="col-sm-4">
    <div class="thumbnail">
      <img ng-show="t.hasimage" ng-src="../{{t.image}}" class="img-rounded" height="242" width="200">
      <img ng-show="!t.hasimage" ng-src="{{t.imagesrc}}" class="img-rounded" height="242" width="200">
      <div class="caption">
        <h3>Location is: {{t.location}}</h3>
        <h4>description: {{t.desc}}</p>
        <h5>price: ${{t.price}}</p>
        <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="Detail(t.id)">Details</button> <button class="btn btn-default" role="button" ng-click="Remove(t.id)">Remove</button></p>
      </div>
      <div class="row"></div>
    </div>
  </div>
</div>

  <div class="form-group col-sm-12">
    <h1>Post house info</h1>
    <p>Location: <input type="text" name="location" ng-model="location" required class="form-control"></p>
    <p>Description: <input type="text" name="desc" ng-model="desc" required class="form-control"></p>
    <p>Price: <input type="number" name="price" ng-model="price" required class="form-control"></p>
    <button ng-click="SendData()" class="btn btn-default">Submit</button>
    <p>Post status: {{PostDataResponse + ResponseDetails}}</p>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
    <div class="modal-dialog">
      <div class="modal-content thumbnail">
          <img ng-show="test_detail.hasimage" ng-src="../{{test_detail.image}}" class="img-rounded" height="242" width="200">
          <img ng-show="!test_detail.hasimage" ng-src="{{test_detail.imagesrc}}" class="img-rounded" height="242" width="200">
          <div class="caption">
            <h3>Location is: {{test_detail.location}}</h3>
            <h4>description: {{test_detail.desc}}</p>
            <h5>price: ${{test_detail.price}}</p>
          </div>
    </div>
  </div>

  <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="house.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
